<div class="base-color" style=" padding:20px 0px;" *ngIf="!userService.isAdmin()">
	<div class="d-flex justify-content-between flex-column flex-sm-column flex-md-row flex-lg-row flex-xl-row" style=" padding:0px 20px;">
		<div class="d-flex flex-row justify-content-center "><a routerLink="contact">Quienes Somos</a></div>
		<div class="d-flex flex-row justify-content-center "><a routerLink="termsUse">Condiciones de uso</a></div>
		<div class="d-flex flex-row justify-content-center "><a routerLink="faq">Preguntas Frecuentes</a></div>
		<div class="d-flex flex-row justify-content-center "><a routerLink="privacyPolicy">Pol&iacute;tica de privacidad</a></div>
	</div>
	<div>
		<div id="copyRight"><i class="fa fa-copyright" aria-hidden="true"></i> 2019 Tien21 Nevado. Todos los derechos reservados</div>
	</div>
</div>
