<div class="contentPrivacy">
	<div class="title">
		<h1>Pol&iacute;tica de Privacidad</h1>
	</div>
	
	<div class="privacy">
        <div class="responseFaq">
            <p>La responsabilidad de los datos y del tratamiento de los mismos corren a cargo de <strong>Nevado</strong>. Cuya direcci&oacute;n f&iacute;sica es la calle Parvillas Altas, 36, Madrid. El correo electr&oacute;nico para cualquier consulta sobre la privacidad y el tratamiento de sus datos es <strong>nevado.proyecto@gmail.com</strong></p>
        </div>
        <h3 class="title">¿C&oacute;mo se obtienen sus datos?</h3>
        <div class="responseFaq">
            <p>La obtenci&oacute;n de sus datos se realiza a trav&eacute;s de los distintos formularios que contiene este sitio web. Estos formularios son: </p>
        </div>
        <div class="responseFaq">
            <ul>
                <li>Formulario de registro</li>
                <li>Formulario de acceso</li>
                <li>Formulario de confirmaci&oacute;n de pedido</li>
                <li>Formulario del perfil de usuario</li>
            </ul>
        </div>
        <div class="responseFaq">
            <p>El usuario declara que los datos personales facilitados a trav&eacute;s de este sitio web son veraces. Debe saber que ser&aacute; el &uacute;nico responsable de los posibles da&ntilde;os ocasionados a <strong>Nevado</strong> si los datos cumplimentados en los formularios de este sitio web son falsos o pertenecen a terceras personas causando da&ntilde;o, enga&ntilde;o o perjuicio.</p>
            <p>El env&iacute;o de datos personales a trav&eacute;s de este sitio web por usuarios menores a 13 años queda prohibido. En el caso de detectarse usuarios menores de 13 años no se tratar&aacute;n los datos.</p>
        </div>
        <div class="responseFaq">
            
        </div>
        <h3 class="title">¿Qu&eacute; datos son tratados por Nevado?</h3>
        <div class="responseFaq">
            <p>Los datos tratados por <strong>Nevado</strong> y, teniendo en cuenta la actividad que realiza son los siguientes:</p>
        </div>
        
        <div class="responseFaq">
            <ul>
                <li>LLevar a cabo la venta de productos y servicios.</li>
                <li>Facturaci&oacute;n y contabilidad.</li>
                <li>Cobros e impagos.</li>
                <li>Presupuestos y contratos.</li>
                <li>Atenci&oacute;n al cliente.</li>
                <li>Resoluci&oacute;n de dudas o problemas.</li>
            </ul>
        </div>
        

        <h3 class="title">¿Para qu&eacute; puede tratar Nevado los datos personales?</h3>
        <div class="responseFaq">
            <p><strong>Nevado</strong> puede tratar la informaci&oacute;n de car&aacute;cter personal para el cumplimiento de obligaciones legales y regulatorias y, para la ejecuci&oacute;n de contratos. A trav&eacute;s del consentimiento que se acepta al registrarse en el sitio web, se acepta la pol&iacute;tica de privacidad y el tratamiento de sus datos. Adiccionalmente, s&oacute;lo se usar&aacute;n los datos personales en virtud a lo establecido en esta pol&iacute;tica de privacidad y, con car&aacute;cter general, se solicitar&aacute; su consentimiento para usos no establecidos aqu&iacute;.</p>
            <p>Podr&aacute; disolver el consentimiento en cualquier momento poni&eacute;ndose en contacto a trav&eacute;s de <strong>nevado.proyecto@gmail.com</strong></p>
        </div>
        
        

        <h3 class="title">¿Cu&aacute;nto tiempo se tratan sus datos?</h3>
        <div class="responseFaq">
            <p>El tiempo establecido para el tratamiento de los datos de car&aacute;cter personal es el establecido por la ley y por el per&iacute;odo necesario para cumplir con las obligaciones operativas.</p>
        </div>
        

        <h3 class="title">¿Con qui&eacute;n se comparten los datos?</h3>
        <div class="responseFaq">
            <p>Se comparten los datos con proveedores de servicios que realizan servicios a nuestro nombre. Con las autoridades jur&iacute;dicas, agencias estatales u organismos p&uacute;blicos. Adem&aacute;s esta informaci&oacute;n se comparte con los bancos y cajas de ahorro. </p>
        </div>
        

        <h3 class="title">¿Qu&eacute; derechos tiene usted sobre los datos personales?</h3>
        <div class="responseFaq">
            <p>Seg&uacute;n las normas europeas, los derechos de los usuarios son:</p>
            <p>Se pueden ejercer los derechos a trav&eacute;s de un mail a <strong>nevado.proyecto@gmail.com</strong> o a trav&eacute;s de un correo postal a la direcci&oacute;n f&iacute;sica de <strong>Nevado</strong>.</p>
        </div>

	</div>
	




</div>
