.contentPrivacy {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: personalizado, Geneva, sans-serif;
    font-weight: bold;
    color:  #1E457E;
    padding: 1em 0;
}

.responseFaq  {
    text-align: justify;
    padding: 0 1.5em;
}