<div class="admin-screen-container d-flex flex-column">
  <p class="titulo">Clientes</p>

  <form [formGroup]="filters" class="d-flex filters_container">
    <div class="filter_div flex-grow-1">
      <label for="input_code">Nombre</label>
      <input type="text" id="input_code" class="form-control" formControlName="name">
    </div>
    <div class="filter_div flex-grow-1">
      <label for="input_code">Apellidos</label>
      <input type="text" id="input_code" class="form-control" formControlName="subname">
    </div>
    <div class="filter_div flex-grow-1">
      <label for="input_code">Email</label>
      <input type="text" id="input_code" class="form-control" formControlName="email">
    </div>
    <div class="filter_div flex-grow-1">
      <label for="input_code">DNI</label>
      <input type="text" id="input_code" class="form-control" formControlName="dni">
    </div>
    <div class="filter_div flex-grow-1">
      <label for="input_code">Tel&eacute;fono</label>
      <input type="text" id="input_code" class="form-control" formControlName="phone">
    </div>
    <div class="filter_div">
      <label class=""> </label>
      <button type="button" class="empty_label btn btn-primary btn-block detail_button" (click)="searchFor()"><i class="fa fa-search" style="width: 5%;margin-right: 10px"></i> Buscar</button>
    </div>
  </form>

  <div class="mat-app-background table-container flex-grow-1">
    <div class="loading" *ngIf="loadingData || errorLoadingData">
      <mat-spinner *ngIf="loadingData"></mat-spinner>
      <div class="errorLoading" *ngIf="errorLoadingData">
        Ups! Algo se ha roto... Vuelve a intentarlo en unos minutos
        <button type="button" class="empty_label btn btn-primary btn-block" (click)="closeError()">OK</button>
      </div>
    </div>

    <div class="table_delivery_container">
      <table mat-table [dataSource]="data" matSort>
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
          <td mat-cell *matCellDef="let row">{{row.clientes.nombre}}</td>
        </ng-container>

        <ng-container matColumnDef="apellidos">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellidos</th>
          <td mat-cell *matCellDef="let row">{{row.clientes.apellidos}}</td>
        </ng-container>

        <ng-container matColumnDef="dni">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>DNI</th>
          <td mat-cell *matCellDef="let row">{{row.clientes.dni}}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
          <td mat-cell *matCellDef="let row">{{row.correo}}</td>
        </ng-container>

        <ng-container matColumnDef="telefono">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tel&eacute;fono</th>
          <td mat-cell *matCellDef="let row">{{row.clientes.telefono}}</td>
        </ng-container>

        <ng-container matColumnDef="info">
          <th mat-header-cell *matHeaderCellDef class="icon_right">
            <!-- <i matTooltip="Crear Albaran" class="iconheader fa fa-plus-circle" (click)="onAddAlbaran()"></i> -->
            <i matTooltip="Recagar" class="iconheader fa fa-refresh" (click)="onRefresh()"></i>
            <i matTooltip="Limpiar filtros" class="iconheader fa fa-times-circle" (click)="onCleanFilters()"></i>
            <i matTooltip="Exportar en Excel" class="iconheader fa fa-file-excel-o" (click)="onExportExcel()"></i>
          </th>
          <td mat-cell *matCellDef="let row" class="icon_right">
            <i matTooltip="Detalles" class="fa fa-info-circle iconmargin" (click)="onInfoClick(row)"> </i>
            <i matTooltip="Eliminar" class="fa fa-times" (click)="onRemoveClient(row)"></i>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [length]="resultsLength" [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
  </div>
</div>
