/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~ngx-toastr/toastr';
/*@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css');*/

/*******Permitir flex en Body**********/

html {
  height: 100% !important;
}

body {
  height: 100% !important;
  /* background-color: red; */
}

/****** BASE COLOR ******/

.base-color {
  background-color: rgb(224, 230, 248) !important;
}

.prueba {
  height: 100%;
  /* background-color: aqua; */
}

.app_root_container {
  height: 100%;
}



/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(195,209,222);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(152, 188, 220);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1E457E;
}

@font-face{
  font-family: 'personalizado';
  src: url('fonts/Lobster-Regular.ttf')
}
