<div class="categoriesRowColum d-flex flex-column">
  <!-- <div class="title">
      {{categories.title}}
      <mat-divider class="divider"></mat-divider>
  </div>
  <!-- <div>
    <mat-grid-list cols="4" rowH
  </div> -->
  <!-- <div *ngIf="!isSmallScreen" class= "d-flex justify-content-between flex-row flex-sm-row flex-md-row flex-lg-row flex-xl-row">
    <div ngbSlide *ngFor="let p of categories" >
      <app-client-categorie class="d-flex flex-row" [dataCategorie]="p"></app-client-categorie>
    </div>
  </div> -->
  <!-- <div *ngIf="isSmallScreen">
    <ngb-carousel #carousel interval="2000" (slide)="onSlide($event)" class="carousel">
      <ng-template ngbSlide *ngFor="let p of products">
        <app-client-product  [dataProduct]="p"></app-client-product>
      </ng-template>
    </ngb-carousel>
  </div> -->
</div>
