
<div class="contentTermsUse">
	<div class="title">
		<h1>Condiciones de Uso</h1>
	</div>
	
	<div class="termsUse">
		<h3 class="subtitles">Condiciones Generales de Contrataci&oacute;n</h3>
		<p>Las condiciones generales de uso pretenden regularizar las condiciones necesarias para realizar compras a trav&eacute;s de <a href="http://localhost:8080/"><strong>Nevado</strong></a>.</p>
		<p>Todo usuario, antes de realizar la primera compra en nuestra web <a href="http://localhost:8080/"><strong>Nevado</strong></a> debe leer y aceptar las condiciones generales de uso. Si por el contrario, el cliente no acepta estas condiciones, no queder&aacute; registrado en nuestro sistema y por lo tanto, no podr&aacute; terminar de comprar el producto que desee.</p>
		<p><strong>Nevado</strong> se reserva el derecho de modificar las condiciones de uso, sin previo aviso. No obstante, el cliente podr&aacute; acceder, en todo momento, a estas condiciones a trav&eacute;s de nuestro apartado <a href="http://localhost:8080/termsUse">Condiciones de uso</a></p>
		<h3 class="subtitles">Envíos</h3>
		<p>Los plazos de entrega, una vez realizada la compra, oscilarán entre 24 a 72 horas. Advertir que en poblaciones alejadas de los n&uacute;cleos urbanos, el plazo de entrega aumentar&aacute; conforme a la lejan&iacute;a de dicha poblaci&oacute;n, no siendo menor a 48 horas. <strong>Nevado</strong> no puede garantizar que se cumpla siempre con dichos plazos, ya que no depende &uacute;nicamente de nosotros si no de las empresas de transporte. Aunque <strong>Nevado</strong> har&aacute; todo lo posible porque estos plazos se cumplan.</p>
		<p>Los plazos de entrega depender&aacute;n de la disponibilidad de los productos en tienda. Esta disponibilidad se podr&aacute; ver una vez que el cliente haya seleccionado el producto que desea comprar.
		<p>En el caso, de que un pedido contenga m&aacute;s de un producto, &uacute;nicamente se realizar&aacute; un env&iacute;o. Y el plazo de dicho env&iacute;o corresponder&aacute; con el producto que mayor plazo tenga.</p>
		<p>Si un producto viene dañado por causa del transporte se aconseja contactar con nosotros en las primeras 24 horas. Del mismo modo, se debe dar constancia a la correspondiente empresa de transporte.</p>
		<p>Se dar&aacute; por entregado el pedido, cuando el cliente firme el albar&aacute;n de entrega. Para verificar el estado de los productos, comprobar el correcto funcionamiento de los productos, as&iacute; como, verificar que se incluyen todos los productos del pedido, el cliente dispondr&aacute; de 72 horas para hacerlo. Pasadas estas 72 , el env&iacute;o se dar&aacute; por aceptado y no se aceptar&aacute; ning&uacute;n tipo de reclamaci&oacute;n por desperfectos del env&iacute;o</p>
		<h3 class="subtitles"> Devoluciones</h3>
		<p>Se tendr&aacute;n 14 d&iacute;as naturales para realizar la devoluci&oacute;n del producto. Pasados estos 14 d&iacute;as <strong>Nevado </strong> no aceptar&aacute; ning&uacute;n tipo de devoluci&oacute;n.</p>
		<p>El producto o productos deben ser devueltos en su embalaje y en perfectas condiciones. En caso contrario, <strong>Nevado </strong> se reserva el derecho de aceptar la devoluci&oacute;n.</p>
		<p>Por &uacute;ltimo, los gastos de env&iacute;o corren por cuenta del cliente. Por lo que el cliente es libre de elegir la compañ&iacute;a de transporte, por la cual quiere enviar el producto.</p>
		<p>La devoluci&oacute;n del importe se tramitar&aacute; una vez comprobado que los productos devueltos est&aacute;n en perfectas condiciones. La modalidad de devoluci&oacute;n se realizar&aacute; del mismo modo en que se haya realizado la compra.</p>
		<h3 class="subtitles">Garant&iacute;as</h3>
		<p>La garant&iacute;a de nuestros productos ser&aacute; de dos años, ampliable seg&uacute;n fabricante al m&aacute;ximo aplicado por los mismos. Para poder aplicar la garant&iacute;a el cliente deberá de tener el ticket o la factura que demuestre que el producto ha sido comprado en <strong>Nevado</strong>
		<p>Esta garant&iacute;a no cubre los defectos provocados por un mal uso del producto y/o la manipulaci&oacute;n del mismo fuera de su naturaleza, caracter&iacute;sticas o funcionamiento. En este caso, el cliente ser&aacute; el responsable de reparar el producto.  Por lo que, quedan fuera de la garant&iacute;a:
		</p>
		<ul>
			<li>Defectos producidos por la utilizaci&oacute;n inadecuada fuera de las instrucciones del producto.</li>
			<li>Defectos producidos por el desgaste del producto.</li>
			<li>Defectos producidos por accidentes dom&eacute;sticos, tales como accidentes el&eacute;ctricos.</li>
			<li>Defectos producidos por la modificaci&oacute;n o reparaci&oacute;n del producto por el cliente.</li>
			<li>Defectos producidos por la incorrecta instalaci&oacute;n del software/a por parte del cliente. As&iacute; como de una incorrecta instalaci&oacute;n de un elemento externo del producto adquirido en <strong>Nevado</strong>.</li>
			<li>Defectos producidos por virus inform&aacute;ticos.</li>
		</ul>
	</div>
	




</div>
