<div class="admin-screen-container d-flex flex-column">

  <p class="titulo">Facturas</p>

  <form [formGroup]="filters" class="d-flex filters_container">
    <div class="filter_div flex-grow-1">
      <label for="input_albaran">Nº Factura</label>
      <input type="text" id="input_albaran" class="form-control" formControlName="nFactura">
    </div>
    <div class="filter_div flex-grow-1">
      <label for="input_date">Fecha</label>
      <input type="date" id="input_date" class="form-control" formControlName="fecha">

    </div>
    <div class="filter_div flex-grow-1">
      <label for="input_cliente">Cliente</label>
      <input type="text" id="input_cliente" class="form-control" formControlName="cliente">
    </div>
    <div class="filter_div">
      <label class=""> </label>
      <button type="button" class="empty_label btn btn-primary btn-block detail_button" (click)="searchFor()"><i class="fa fa-search"></i> Buscar</button>
    </div>
  </form>

  <div class="mat-app-background table-container flex-grow-1">

    <div class="loading" *ngIf="loadingData || errorLoadingData">
      <mat-spinner *ngIf="loadingData"></mat-spinner>
      <div class="errorLoading" *ngIf="errorLoadingData">
        Ups! Algo se ha roto... Vuelve a intentarlo en unos minutos
        <button type="button" class="empty_label btn btn-primary btn-block " (click)="closeError()">OK</button>
      </div>
    </div>


    <div class="table_delivery_container">

      <table mat-table [dataSource]="data" matSort>
        <ng-container matColumnDef="nFactura">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nº Factura</th>
          <td mat-cell *matCellDef="let row">{{row.nFactura}}</td>
        </ng-container>

        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
          <td mat-cell *matCellDef="let row">{{row.fecha | date:'dd-MM-yyyy' : 'UTC'}}</td>
        </ng-container>

        <ng-container matColumnDef="cliente">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</th>
          <td mat-cell *matCellDef="let row">{{row.cliente.correo}}</td>
        </ng-container>

        <ng-container matColumnDef="info">
          <th mat-header-cell *matHeaderCellDef class="icon_right">
            <i matTooltip="Recagar" class="iconheader fa fa-refresh" (click)="onRefresh()"></i>
            <i matTooltip="Limpiar filtros" class="iconheader fa fa-times-circle" (click)="onCleanFilters()"></i>
            <i matTooltip="Exportar en Excel" class="iconheader fa fa-file-excel-o" (click)="onExportExcel()"></i>
          </th>
          <td mat-cell *matCellDef="let row" class="icon_right">
            <i matTooltip="Detalles" class="fa fa-info-circle iconmargin" (click)="onInfoClick(row)"> </i>
            <i matTooltip="Generar PDF" class="fa fa-file-pdf-o iconmargin" (click)="createPDF(row)"> </i>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>
    <mat-paginator [length]="resultsLength" [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
  </div>
</div>
