<div class="contentContact">
    <div class="title">
        <h1>Quiénes Somos</h1>
    </div>
    <div class="">
        <div class="contentDivContact">
            <p>
                <strong>Nevado</strong> es una tienda familiar de electrodom&eacute;sticos que lleva dando servicio a los vecinos de Villaverde Alto, Madrid, m&aacute;s de 60 a&ntilde;os. Fue creada por una mujer humilde, de barrio, con un esp&iacute;ritu generoso y solidario. Por eso y con el avance de las tecnolog&iacute;as, pens&oacute; en acercar a sus vecinos las nuevas tecnolog&iacute;as que les hiciesen la vida cotidania mucho m&aacute;s sencilla.
                Decidida, se embarc&oacute; en un pequeño negocio de venta de aparatos tecnol&oacute;gicos pequeños. Su ilusi&oacute;n y sus ganas, junto con su esp&iacute;ritu luchador, hicieron que este peque&ntilde;o negocio creciese a un gran ritmo, hasta convertirlo en lo que es hoy en d&iacute;a, toda una gran tienda de electrodom&eacute;sticos. Este esp&iacute;ritu luchador, fue heredado por su hijo, Antonio, dueño actual de la tienda, en el que la cercan&iacute;a con los clientes, as&iacute; como, el trato personalizado son la premisas fundamentales entorno a los que gira el negocio. Ir a <strong>Nevado</strong> es ir a tu casa de electrodom&eacute;sticos, pues todos los que trabajan all&iacute; son una peque&ntilde;a familia.
            </p>
        </div>
        <div class="contentDivContact">
            <p>El hecho de que <strong>Nevado</strong> sea lo que es hoy, no es s&oacute;lo gracias a la dedicaci&oacute;n de sus dueños, sino tambi&eacute;n gracias a todos aquellos clientes que han depositado su confianza y siguen confiando en <strong>Nevado</strong>. Por eso, mil <strong>GRACIAS</strong></p>
        </div>

        <div class="contentDivContact">
            <p>Para seguir creciendo como negocio, mejorar sus servicios y adaptarse a los nuevos tiempos, <strong>Nevado</strong> lanza su tienda online. </p>
        </div>

        <div class="d-flex flex-column flex-sm-column flex-md-column flex-lg-row flex-xl-row">
            <div class="d-flex flex-column flex-grow-1 contentServices">
                <div class="imagenContent">
                    <img class="imagenServices" src="../assets/navegacionFacil2.jpg">
                </div>
                
                <div class="pContent">
                    <p>Web sencilla, r&aacute;pida y atractiva, para que comprar no suponga ning&uacute;n esfuerzo.</p>
                </div>
            </div>

            <div class="d-flex flex-column flex-grow-1">
                <div class="imagenContent">
                    <img class="imagenServices" src="../assets/compraSegura.png">
                </div>
                
                <div class="pContent"> 
                    <p>Pago de forma segura y c&oacute;moda a trav&eacute;s de tarjeta bancaria, paypal o contrareembolso.</p>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column flex-sm-column flex-md-column flex-lg-row flex-xl-row">

            <div class="d-flex flex-column flex-grow-1">
                <div class="imagenContent">
                    <img class="imagenServices" src="../assets/envioRapido.png">
                </div>
                
                <div class="pContent">
                    <p>Ten el producto en casa en menos de 72 horas.</p>
                </div>
            </div>

            <div class="d-flex flex-column flex-grow-1">
                <div class="imagenContent">
                    <img class="imagenServices" src="../assets/servicioTecnico.png">
                </div>
                
                <div class="pContent">
                    <p>Los mejores expertos os ayudan a resolverlos </p>
                </div>
            </div>
        </div>
        <div class="contentDivContact">
            Para contactar con <strong>Nevado</strong> puede escribir un correo electrónico a la direcci&oacute;n <strong>nevado.proyecto@gmail.com</strong>, llamar al tel&eacute;fono  <strong>917 95 32 89</strong> o dirigirse a su tienda f&iacute;sica, situada en: 
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3668.8092941412756!2d-3.712461850954982!3d40.34549016761861!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4227243b3c37b1%3A0xd1dafad8b680736f!2sTien%2021!5e0!3m2!1ses!2ses!4v1594329627788!5m2!1ses!2ses" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
</div>
