<div class="admin-screen-container d-flex flex-column">

    <p class="titulo">Importación de datos</p>

    <form [formGroup]="form" class="d-flex filters_container">

        <div class="filter_div flex-grow-1">
            <label for="categoria">Importación</label>
            <select id="import" class="form-control" formControlName="import">
                <option value="categoria">Categoría</option>
                <option value="marca">Marca</option>
                <option value="producto">Producto</option>
            </select>
        </div>

        <div class="filter_div flex-grow-1">
            <label for="ficheroDiv">Fichero</label>
            <div id="ficheroDiv" class="form-control inputFileDiv">
                <label for="fichero" class="inputLabel d-flex">
                    <label for="fichero" class="inputFileName flex-grow-1">{{form.value.file}}</label>
                    <label for="fichero" class="inputLabelSpan detail_button" >Buscar</label>
                </label>
                <input type="file" class="form-control inputFile" id="fichero" #fichero formControlName="file">
            </div>
        </div>

        <div class="filter_div">
            <label class=""> </label>
            <button type="button" class="empty_label btn btn-primary btn-block detail_button" (click)="importar()"><i
                    class="fa fa-cloud-upload"></i> Importar</button>
        </div>
        <div class="filter_div">
            <label class=""> </label>
            <button type="button" class="empty_label btn btn-primary btn-block detail_button" (click)="plantilla()"><i
                    class="fa fa-cloud-download"></i> Plantilla</button>
        </div>
    </form>

    <div *ngIf="currentImport && currentType" class="flex-grow-1 filters_container logcontainer">
        <div class="log_title">Importando fichero {{currentType | uppercase}}</div>
        <div *ngFor="let l of logData" class="log_data">{{l}}</div>
    </div>

</div>
