<div class="admin-screen-container d-flex flex-column">
  <p class="titulo">Ofertas</p>

  <form [formGroup]="filters" class="d-flex filters_container">
    <div class="filter_div flex-grow-1">
      <label for="input_code">Id Oferta</label>
      <input type="text" id="input_code" class="form-control" formControlName="idOffer">
    </div>
    <div class="filter_div flex-grow-1">
      <label for="input_code">% de Descuento</label>
      <input type="text" id="input_code" class="form-control" formControlName="discount">
    </div>
    <div class="filter_div flex-grow-1">
      <label for="input_code">Fecha Inicio</label>
      <input type="date" id="input_code" class="form-control" formControlName="initDate">
    </div>
    <div class="filter_div flex-grow-1">
      <label for="input_code">Fecha Fin</label>
      <input type="date" id="input_code" class="form-control" formControlName="endDate">
    </div>
    <div class="filter_div">
      <label class=""> </label>
      <button type="button" class="empty_label btn btn-primary btn-block detail_button" (click)="searchFor()"><i class="fa fa-search" style="width: 5%;margin-right: 10px"></i> Buscar</button>
    </div>
  </form>

  <div class="mat-app-background table-container flex-grow-1">
    <div class="loading" *ngIf="loadingData || errorLoadingData">
      <mat-spinner *ngIf="loadingData"></mat-spinner>
      <div class="errorLoading" *ngIf="errorLoadingData">
        Ups! Algo se ha roto... Vuelve a intentarlo en unos minutos
        <button type="button" class="empty_label btn btn-primary btn-block" (click)="closeError()">OK</button>
      </div>
    </div>

    <div class="table_delivery_container">
      <table mat-table [dataSource]="data" matSort>
        <ng-container matColumnDef="idOferta">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id. Oferta</th>
          <td mat-cell *matCellDef="let row">{{row.idOferta}}</td>
        </ng-container>
        <ng-container matColumnDef="descuento">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>% de descuento</th>
          <td mat-cell *matCellDef="let row">{{row.descuento}} %</td>
        </ng-container>
        <ng-container matColumnDef="fechaInicio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de Inicio</th>
          <td mat-cell *matCellDef="let row">{{row.fechaInicio | date:'dd-MM-yyyy' : 'UTC'}}</td>
        </ng-container>
        <ng-container matColumnDef="fechaFin">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Fin </th>
          <td mat-cell *matCellDef="let row">{{row.fechaFin | date:'dd-MM-yyyy' : 'UTC'}}</td>
        </ng-container>

        <ng-container matColumnDef="info">
          <th mat-header-cell *matHeaderCellDef class="icon_right">
            <i matTooltip="Recagar" class="iconheader fa fa-refresh" (click)="onRefresh()"></i>
            <i matTooltip="Mas" class="iconheader fa fa-plus-circle" (click)="onAddOffer()"></i>
            <i matTooltip="Limpiar filtros" class="iconheader fa fa-times-circle" (click)="onCleanFilters()"></i>
            <i matTooltip="Exportar en Excel" class="iconheader fa fa-file-excel-o" (click)="onExportExcel()"></i>
          </th>
          <td mat-cell *matCellDef="let row" class="icon_right">
            <i matTooltip="Detalles" class="fa fa-info-circle iconmargin" (click)="onInfoClick(row)"> </i>
            <i matTooltip="Eliminar" class="fa fa-times" (click)="onRemoveOffer(row)"></i>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [length]="resultsLength" [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
  </div>
</div>

